<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear">
        Edit
      </ion-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Chats</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar placeholder="Search"></ion-searchbar>

  <app-list></app-list>
</ion-content>
